body{
    margin: 0%;
    padding: 0%;
}

.sidebar_contianer{
visibility: hidden;
}
.bar{
 visibility: hidden;
}


.btn{
    position: absolute;
    left: 90%;
    width: 50px;
    height: 60px;
    font-size: 40px;
    color: blue;
    background-color:lightgreen;
   box-sizing: border-box;
  transition: 1s;
  animation: 2s;
}

main{
    padding: 10px;
    border: none ;
    width: 300px;
    height:500px;
    background-color: lightgrey;
    cursor: pointer;
    transition: 2s;
   position: relative;
}

main:hover{
    background-color:skyblue;
}


div,.heading{
    font-size: 30px;
}

span{
    font-size: 30px;
    color: red;
}

.add{
    position: absolute;
    right: 3%;
    font-size: 60px;
}
ul{
   
    font-size: 30px;
    
}






